@model IEnumerable<Medi_Clinic.Models.Chemist>

@{
    ViewData["Title"] = "ChemistGetDetails";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-card">
    <div class="table-header">
        <h4 class="page-title">Chemist Management</h4>
        <a asp-action="CreateChemist" class="btn btn-create">Create New Chemist</a>
        
    </div>
</div>
<div class="table-responsive">
    <table class="admin-table">

    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ChemistName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.ChemistStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ChemistName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.ChemistStatus)
            </td>
            <td>
                    <a class="btn btn-edit" asp-action="EditChemist" asp-route-id="@item.ChemistId">Edit</a> 
                    <a class="btn btn-details" asp-action="ChemistGetDetailsById" asp-route-id="@item.ChemistId">Details</a> 
                    <a class="btn btn-delete" asp-action="DeleteChemist" asp-route-id="@item.ChemistId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>