@model Medi_Clinic.Models.Appointment

@{
    ViewData["Title"] = "GetAppointmentDetailsById";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>GetAppointmentDetailsById</h1>

<div>
    <h4>Appointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AppointmentDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AppointmentDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Criticality)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Criticality)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScheduleStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScheduleStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.Address)
        </dd>
    </dl>
</div>
<div>
    

    <a asp-action="GetAppointmentDetails">Back to List</a>
</div>
