@model IEnumerable<Medi_Clinic.Models.Appointment>

@{
    ViewData["Title"] = "PendingAppointments";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="admin-card">
    <div class="table-header">
        <h3>Pending Appointments</h3>
    </div>


</div>



<table class="admin-table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Patient)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AppointmentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Criticality)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Reason)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Note)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ScheduleStatus)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Patient.PatientName)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.AppointmentDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Criticality)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ScheduleStatus)
            </td>
            
            <td>
                    <a asp-controller="Admin" asp-action="CreateSchedule" asp-route-id="@item.AppointmentId" class="btn btn-success btn-sm">Schedule</a>
                
            </td>
        </tr>
}
    </tbody>
</table>
