


<h1>Index</h1>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutPatient.cshtml";
}

<h2>Patient Dashboard</h2>

<p class="mt-3">
    <div>
        <h3>Profile</h3>
        <p>Age: @Model.Patient.Dob</p>
        <p>Gender: @Model.Patient.Gender</p>
        <p>Phone: @Model.Patient.Phone</p>
    </div>

    <hr />

    <h3>Appointments</h3>
    <table class="table">
        <tr>
            <th>Doctor</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
        @foreach (var item in Model.Appointments)
        {
            <tr>
                @*  <td>@item.AppointmentDate.ToShortDateString()</td> *@
                <td>@item.ScheduleStatus</td>
            </tr>
        }
    </table>
    i
    <hr />

    <h3></h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Diagnosis</th>
            <th>Treatment</th>
        </tr>
        @foreach (var record in Model.PhysicianAdvices)
        {
            <tr>
                <td>@record.Advice</td>
                <td>@record.Note</td>
            </tr>
        }
    </table>

    <hr />

    <h3>Prescriptions</h3>
    <table class="table">
        <tr>
            <th>Date</th>
            <th>Medicine</th>
            <th>Dosage</th>
        </tr>
        @foreach (var pres in Model.PhysicianPrescrip)
        {
            <tr>
                <td>@pres.Drug</td>
                <td>@pres.Dosage</td>
            </tr>
        }
    </table>

</p>

<hr />

