@model IEnumerable<Medi_Clinic.Models.DrugRequest>
@{
    Layout = "~/Views/Shared/_LayoutChemist.cshtml";
}

<h3>Drug Requests</h3>

<div class="mb-3">
    <a asp-action="DrugRequests" asp-route-status="Pending" class="btn btn-warning btn-sm">Pending</a>
    <a asp-action="DrugRequests" asp-route-status="Processed" class="btn btn-success btn-sm">Processed</a>
    <a asp-action="DrugRequests" class="btn btn-secondary btn-sm">All</a>
    <a asp-action="">Order Drug</a>
</div>

<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Physician</th>
            <th>Date</th>
            <th>Info</th>
            <th>Status</th>
            <th width="150">Action</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var r in Model)
        {
            <tr>
                <td>@r.Physician?.PhysicianName</td>
                <td>@r.RequestDate?.ToShortDateString()</td>
                <td>@r.DrugsInfoText</td>
                <td>
                    <span class="badge bg-@(r.RequestStatus == "Pending" ? "warning" : "success")">
                        @r.RequestStatus
                    </span>
                </td>
                <td>
                    @if (r.RequestStatus == "Pending")
                    {
                        <a asp-action="ProcessRequest" asp-route-id="@r.DrugRequestId"
                           class="btn btn-success btn-sm">Process</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
